* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* common css */

.make-bold {
    font-weight: 700;
    font-size: 45px;
}

.make-light-gray {
    color: lightgray;
}

.m-top {
    margin: 130px auto;
}

.display-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.article-text {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.flex-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    width: 520px;
}

.img-size {
    width: 456px;
    height: 477px;
    object-fit: cover;
}


/* heading section */

header {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #434242;
    background-blend-mode: soft-light;
    box-shadow: red;
    color: white;
    height: 600px;

}

.title {
    margin: auto;
    width: 826px;
    text-align: center;
    padding: 200px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 20px;
}

.header-sub {
    margin-bottom: 20px;
    line-height: 25px;
}

.btn {
    font-size: 18px;
    background-color: #FF5959;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    border: none;

}

/* Donate today */

.donate-today {
    text-align: center;
    width: 765px;
    /* margin: 0 auto; */
}

.donate-today > * {
    margin-bottom: 25px;
}



.donate-today .donate-des {
    margin-bottom: 50px;
}

.donate-ammount {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 60px;
}

.donate-ammount .tk {
    color: gray;
    background-color: #FAFAFA;
    font-weight: 700;
    font-size: 30px;
    padding: 40px 20px;
    border-radius: 5px;
}

/* Our donate plan */
.our-donate-plan {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.donate-plan-head {
    width: 700px;
    margin: 0 auto 50px;
}



.our-donate-cards {
    display: flex;
    gap:25px;
    justify-content: center;
}

.our-donate-cards .card {
    width: 400px;
    height: 352px;
    text-align: left;
}

/* .card > * {
    padding: 50px;
} */



.card .icon{
    margin:60px 30px 30px;
}

.card .card-info {
    margin:0 30px
}

.card .plan-title-des {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    line-height: 25px;
}

.our-donate-cards .card1 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.our-donate-cards .card2 {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.our-donate-cards .card3 {
    background: #FFF4D6;
    border-radius: 5px;
}

.card .donate-plan-title{
    font-weight: 600;
    font-size: 24px;
}

/* Depends on and Survive  */

.get-my-updates {
    text-align: center;
    width: 700px;
}

.form {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    background-color: antiquewhite;
}


